body{
    background-color: azure;
   display: flex;
   justify-content: center;
   align-content: center;
   text-align: center;
   
}
.container{
display: flex;
flex-wrap: wrap;
margin-top: 10vh;
max-width: 80vw;
justify-content: center;
}
.cell{
    padding: 3%;
    border-style: groove;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    width: 9%;
    text-align: center;
}
.cell img{
max-width: 90%;
max-height:90%;
}

form{
    display: flex;
    flex-direction: column;
}
